html {
    max-height: 650px;
    height: 100%;
    font-family: 'VT323', monospace;
    font-size: 24px;
    text-transform: uppercase;
}

body {
    background-color: #000;
    color: #fff; 
    -webkit-app-region: drag;
}

header, footer {
    display: block;
    height: 25px;
    width: 100%;
}

header {
    border-bottom: 2px solid rgb(65, 65, 65);;
}

header span {
    float: left;
    display: block;
    padding: 7px 0 7px 15px;
    font-size: 14px;
}

header span.close {
    float: right;
    margin-right: 15px;
    width: 21px;
    height: 20px;
    background-color: rgb(210, 16, 0);
    border-radius: 10px;
    padding: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 2px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

footer {
    border-top: 2px solid rgb(65, 65, 65);    
}

section {
    padding: 10px 60px;
    height: 276px;
    color: rgb(11, 202, 0);
}

.brown-part {
    position: absolute;
    top: 27px;
    width: 45px;
    max-height: 296px; 
    height: 100%;
    background-color: rgb(118, 53, 10); 
}

.left-column, .right-column {
    height: 96%;
}
.left-column {
    float: left;
    width: 50%;
}

.right-column .brown-part {
    right: 0;
    border-left: 4px solid #5d2704;
}

.left-column .brown-part {
    left: 0;
    border-right: 4px solid #5d2704;    
}

.cities {
    -webkit-app-region: no-drag;  
    width: 50%;
    height: 40px;
    line-height: 40px;
    background-color: #000;
    color:   rgb(11, 202, 0);
    font-family: inherit;
    font-size: inherit;
    border: 1px solid rgb(11,202,0)
}

.data li {
    margin-bottom: 20px;
    width: 90%;
    border-bottom: 1px solid;
    height: 40px;
    line-height: 40px;
}

.data li span {
    float: right;
}

.image-status {
    margin-top: 32px;
    text-align: center;
    overflow: hidden;
}

.image-status img {
    width: 100%;
    margin-left: 30px;
}

.mask {
    display: none;
    position: fixed;
    left: 0;
    top: 27px;
    height: 296px;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
}

.loading .mask {
    display: block;
}

.details {
    text-align: center;
}

a {
    -webkit-app-region: no-drag;
    font-size: 14px;
    color: #ccc;  
}